.button{
    background-color: #FF4E50 #F9D423;
}
*{
    background-color: #F9D423;
}
.bg{
    background-color: #F9D423;
    margin: 0%;
}
@media (min-width: 159px) and(max-width:762) {
    .imager{
        margin-top: 250px !important;
    }
  }